.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head{
  width:100% ;
  background: #548cac;
  margin:0 0 20px;
}
.head h2{
  padding:15px 2px 15px;
}
.Content{
  display:flex;
  justify-content: space-between;
  height:100% ;
}
.qw1Parent{
  width:26% ;
  
}
.qw1{
  background-color:#548cac ;
  width: 100%;
  height:200px;
  display:table;
  margin-bottom:25px;
}
.qw1 h2{
  display:table-cell; vertical-align:middle
}
h2{
margin:0;
}
.qw2{
  background-color:#548cac ;
  width:40% ;
  margin-bottom:25px;
  display:table;
}
.qw2 h2{
  display:table-cell; vertical-align:middle
}
.qw3{
  background-color:#548cac ;
  width:26% ;
  margin-bottom:25px;
  display:table;
  height:200px;
}
.qw3 h2{
  display:table-cell; vertical-align:middle
}
